body {
  text-align: center;
}

button, .form-control {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.age-results, .big-question, .life-questions {
  display: none;
}

@media screen and (min-width: 800px) {
  button {
    width: 25%;
  }
}