body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: black;
  margin-top: 5%;
}

label, p, .life-expectancy-results {
  color: white;
}

.row {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button, .reduce-width {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.age-results, .big-question, .life-form, .final-answer {
  display: none;
}

.black-text {
  color: black;
}

@media screen and (min-width: 800px) {
  button, .reduce-width {
    width: 25%;
  }
}